.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
div.user-tabs {
    margin-top: 16px;
}
ul.users {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.user-tabs ul.users {
    margin: 0px;
    border-top: none;
}
ul.users li.user {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.users li.user:hover {
    background-color: #f0f0f0;
}
div.user-thumbnail {
    position: absolute;
}
div.user-email {
    margin-left: 20px;
}
div.user-content {
    margin-left: 48px;
    min-height: 48px;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
